.container {
  display: flex;
  margin: 10px auto;
  padding: 10px;

  width: 80%;
  border: 1px solid #ccc;
  flex-wrap: nowrap;
}

.item {
  background-color: #ffcccb;
  padding: 20px;
  margin: 5px;
  border: 1px solid #000;
  min-width: 50px;
  text-align: center;
}

.example1 .flex-1 {
  /* 패딩과 여백이 지정된 후 남은 여분의 공간을 모두 동등한 크기로 점유 */
  flex: 1;
}

.example1 .flex-2 {
  flex: 2;
}

.example1 .flex-3 {
  flex: 1;
}

/*
>> 전체 공간을 1 + 2 + 1 (== 4)로 두고 각 요소를 1 : 2 : 1로 차지
*/

.example2 .flex-1 {
  /* 패딩과 여백이 지정된 후 남은 여분의 공간을 모두 동등한 크기로 점유 */
  flex: 1 200px;
}

.example2 .flex-2 {
  flex: 2 200px;
}

.example2 .flex-3 {
  flex: 1 200px;
}